In [10]:
"""
Demo script for piboufilings library.
This script demonstrates how to use the library to download and parse SEC filings.
"""

'\nDemo script for piboufilings library.\nThis script demonstrates how to use the library to download and parse SEC filings.\n'

In [11]:
from piboufilings import get_filings

# Remember to replace with your actual email for the User-Agent
USER_AGENT_EMAIL = "yourname@example.com"
USER_NAME = "Your Name or Company" # Add your name or company

# Get `13F-HR` and `NPORT` filings from any company

In [12]:
print("=== piboufilings Demo ===")
print("This demo shows how to download and parse SEC filings.")
print("Please replace 'your_email@example.com' with your actual email address.")
print("This is required by the SEC's fair access rules.\n")

print("\n=== Example 1: Getting Berkshire Hathaway's latest 13F filing ===")

berkshire_cik = "0001067983" #Can be obtained here https://www.sec.gov/search-filings/cik-lookup

get_filings(
    user_name=USER_NAME,
    user_agent_email=USER_AGENT_EMAIL,
    cik=berkshire_cik,              # Example: Berkshire Hathaway CIK
    form_type=["13F-HR", "NPORT-P"], # Can be a string or list of strings
    start_year=2020,
    end_year=2025,
    base_dir="./my_sec_data",       # Optional: Custom directory for parsed CSVs
    log_dir="./my_sec_logs",        # Optional: Custom directory for logs
    raw_data_dir="./my_sec_raw_data", # Optional: Custom directory for raw filings
    keep_raw_files=True,            # Optional: Set to False to delete raw .txt files after parsing
    max_workers=5                   # Optional: Number of parallel workers for downloading/parsing; Default is 5
)

=== piboufilings Demo ===
This demo shows how to download and parse SEC filings.
Please replace 'your_email@example.com' with your actual email address.
This is required by the SEC's fair access rules.


=== Example 1: Getting Berkshire Hathaway's latest 13F filing ===

Processing firms with 13F-HR filings: 100%|██████████| 1/1 [00:04<00:00,  4.36s/it]

# Sample of data

In [13]:
import pandas as pd

holding_13f_df = pd.read_csv("./my_sec_data/13f_holdings.csv")
print(f"Columns in the 13F Holdings file: {holding_13f_df.columns}")
holding_13f_df.sample(5)

Columns in the 13F Holdings file: Index(['SEC_FILE_NUMBER', 'CONFORMED_DATE', 'NAME_OF_ISSUER', 'TITLE_OF_CLASS',
       'CUSIP', 'SHARE_VALUE', 'SHARE_AMOUNT', 'SH_PRN', 'PUT_CALL',
       'DISCRETION', 'SOLE_VOTING_AUTHORITY', 'SHARED_VOTING_AUTHORITY',
       'NONE_VOTING_AUTHORITY', 'CREATED_AT', 'UPDATED_AT'],
      dtype='object')

,SEC_FILE_NUMBER,CONFORMED_DATE,NAME_OF_ISSUER,TITLE_OF_CLASS,CUSIP,SHARE_VALUE,SHARE_AMOUNT,SH_PRN,PUT_CALL,DISCRETION,SOLE_VOTING_AUTHORITY,SHARED_VOTING_AUTHORITY,NONE_VOTING_AUTHORITY,CREATED_AT,UPDATED_AT
214,028-04545,2019-12-31 00:00:00,BIOGEN INC,COM,09062X103,138965,468322,SH,NaN,DFND,468322,0,0,2025-12-14 22:22:48.231655,2025-12-14 22:22:48.231655
1529,028-04545,2022-06-30 00:00:00,CITIGROUP INC,COM NEW,172967424,138568,3013000,SH,NaN,DFND,3013000,0,0,2025-12-14 22:22:48.527544,2025-12-14 22:22:48.527544
1439,028-04545,2022-03-31 00:00:00,US BANCORP DEL,COM NEW,902973304,201385,3789000,SH,NaN,DFND,3789000,0,0,2025-12-14 22:22:48.484180,2025-12-14 22:22:48.484180
1307,028-04545,2022-03-31 00:00:00,BANK AMER CORP,COM,060505104,161582,3920000,SH,NaN,DFND,3920000,0,0,2025-12-14 22:22:48.484180,2025-12-14 22:22:48.484180
1450,028-04545,2022-03-31 00:00:00,PARAMOUNT GLOBAL,CLASS B COM,92556H206,256201,6776000,SH,NaN,DFND,6776000,0,0,2025-12-14 22:22:48.484180,2025-12-14 22:22:48.484180

In [14]:
holding_13f_df = pd.read_csv("./my_sec_data/13f_info.csv")
print(f"Columns in the Info file: {holding_13f_df.columns}")

holding_13f_df[["CIK", "REPORT_TYPE", "COMPANY_NAME", "FILED_DATE", "TOTAL_VALUE","SEC_FILING_URL"]].sample(5)

Columns in the Info file: Index(['CIK', 'REPORT_TYPE', 'IRS_NUMBER', 'SEC_FILE_NUMBER', 'DOC_TYPE',
       'CONFORMED_DATE', 'FILED_DATE', 'ACCEPTANCE_DATETIME',
       'PUBLIC_DOCUMENT_COUNT', 'SEC_ACT', 'FILM_NUMBER', 'NUMBER_TRADES',
       'TOTAL_VALUE', 'OTHER_INCLUDED_MANAGERS_COUNT',
       'IS_CONFIDENTIAL_OMITTED', 'SIGNATURE_NAME', 'SIGNATURE_TITLE',
       'SIGNATURE_CITY', 'SIGNATURE_STATE', 'AMENDMENT_FLAG', 'MAIL_STREET_2',
       'BUSINESS_STREET_1', 'BUSINESS_STATE', 'COMPANY_NAME', 'BUSINESS_PHONE',
       'MAIL_CITY', 'MAIL_STREET_1', 'STATE_INC', 'FORMER_COMPANY_NAME',
       'MAIL_ZIP', 'BUSINESS_CITY', 'MAIL_STATE', 'BUSINESS_STREET_2',
       'BUSINESS_ZIP', 'FISCAL_YEAR_END', 'STANDARD_INDUSTRIAL_CLASSIFICATION',
       'SEC_FILING_URL', 'CREATED_AT', 'UPDATED_AT'],
      dtype='object')

,CIK,REPORT_TYPE,COMPANY_NAME,FILED_DATE,TOTAL_VALUE,SEC_FILING_URL
23,1067983,13F HOLDINGS REPORT,BERKSHIRE HATHAWAY INC,2024-11-14,266378900503,https://www.sec.gov/Archives/edgar/data/106798...
16,1067983,13F HOLDINGS REPORT,BERKSHIRE HATHAWAY INC,2023-11-14,313257308189,https://www.sec.gov/Archives/edgar/data/106798...
17,1067983,13F HOLDINGS REPORT,BERKSHIRE HATHAWAY INC,2023-11-16,313257308189,https://www.sec.gov/Archives/edgar/data/106798...
12,1067983,13F COMBINATION REPORT,BERKSHIRE HATHAWAY INC,2022-11-14,296096640,https://www.sec.gov/Archives/edgar/data/106798...
15,1067983,13F HOLDINGS REPORT,BERKSHIRE HATHAWAY INC,2023-08-14,348194055552,https://www.sec.gov/Archives/edgar/data/106798...

# Get Section 16 (Forms 3/4/5) insider filings

In [15]:
print('=== Example 2: Getting a recent Form 4 (insider trade) ===')
insider_cik = '0000320193'  # Apple Inc.
get_filings(
    user_name=USER_NAME,
    user_agent_email=USER_AGENT_EMAIL,
    cik=insider_cik,
    form_type='SECTION-6',
    start_year=2025,
    end_year=2025,
    base_dir='./my_sec_data',
    log_dir='./my_sec_logs',
    raw_data_dir="./my_sec_raw_data", # Optional: Custom directory for raw filings
    keep_raw_files=True,
    max_workers=1
)

=== Example 2: Getting a recent Form 4 (insider trade) ===

Processing firms with SECTION-6 filings: 100%|██████████| 1/1 [00:06<00:00,  6.05s/it]

In [16]:
import pandas as pd

df = pd.read_csv("./my_sec_data/sec16_transactions.csv")

selling = df[df["TRANSACTION_CODE"].isin(["S", "F", "J"])].copy()
selling["dollar_gross"] = selling["TRANSACTION_SHARES"] * selling["TRANSACTION_PRICE_PER_SHARE"]

result = selling[[
    "PERIOD_OF_REPORT", "ISSUER_NAME", "RPT_OWNER_NAME", 
    "TRANSACTION_CODE", "dollar_gross"
]]

result.groupby("RPT_OWNER_NAME")["dollar_gross"].sum().sort_values(ascending=False).head(10)

RPT_OWNER_NAME
COOK TIMOTHY D        1.198209e+08
O'BRIEN DEIRDRE       4.032357e+07
Adams Katherine L.    4.032146e+07
LEVINSON ARTHUR D     2.122945e+07
WILLIAMS JEFFREY E    1.666447e+07
Khan Sabih            1.261668e+07
Parekh Kevan          5.469849e+06
KONDO CHRIS           3.437550e+06
Name: dollar_gross, dtype: float64